@page "/promotions/{PromotionId}"
@using TCH.Data.Entities
@using TCH.Utilities.Enum
@using TCH.Utilities.Paginations
@using TCH.ViewModel.RequestModel
@using TCH.ViewModel.SubModels
@using TCH.WebServer.Models
@using TCH.WebServer.Services.Brands
@using TCH.WebServer.Services.Categories
@using TCH.WebServer.Services.Products
@using TCH.WebServer.Services.Users
@using TCH.WebServer.Services.Promotions

@inject IProductService productService
@inject IPromotionService _promotionService
@inject IUserService userService
@inject IToastService _toastService
@attribute [Authorize]

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <form id="kt_ecommerce_add_category_form" class="form d-flex flex-column flex-lg-row fv-plugins-bootstrap5 fv-plugins-framework" data-kt-redirect="../../demo1/dist/apps/ecommerce/catalog/categories.html">
                <!--begin::Aside column-->
                <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
                    <!--begin::Status-->
                    <div class="card card-flush py-4">
                        <!--begin::Card header-->
                        <div class="card-header">
                            <!--begin::Card title-->
                            <div class="card-title">
                                <h2>Status</h2>
                            </div>
                            <!--end::Card title-->
                            <!--begin::Card toolbar-->
                            <div class="card-toolbar">
                                <div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_category_status"></div>
                            </div>
                            <!--begin::Card toolbar-->
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <!--begin::Select2-->
                            <EditForm Model="editPromotion">
                                <InputSelect @bind-Value="editPromotion.Status" class="form-control">
                                <option value="1">Publish</option>
                                 <option value="0">UnPublish</option>
                                </InputSelect>
                            </EditForm>
                            <!--end::Select2-->
                            <!--begin::Description-->
                            <div class="text-muted fs-7">Set the category status.</div>
                            <!--end::Description-->
                            <!--begin::Datepicker-->
                            <div class="d-none mt-10">
                                <label for="kt_ecommerce_add_category_status_datepicker" class="form-label">Select publishing date and time</label>
                                <input class="form-control flatpickr-input" id="kt_ecommerce_add_category_status_datepicker" placeholder="Pick date &amp; time" type="text" readonly="readonly">
                            </div>
                            <!--end::Datepicker-->
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Status-->
                </div>
                <!--end::Aside column-->
                <!--begin::Main column-->
                <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
                    <!--begin::General options-->
                    <div class="card card-flush py-4">
                        <!--begin::Card header-->
                        <div class="card-header">
                            <div class="card-title">
                                <h2>Thông tin</h2>
                            </div>
                        </div>
                        <!--end::Card header-->
                        <!--begin::Card body-->
                        <div class="card-body pt-0">
                            <!--begin::Input group-->
                            <EditForm Model="@editPromotion">
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required form-label">Tên khuyến mãi</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <InputText @bind-Value="editPromotion.Name" class="form-control form-control-solid col-sm-6" />
                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <ValidationMessage For="@(() => editPromotion.Name)" />
                                    </div>
                                    <!--end::Input-->
                                    <!--begin::Description-->
                                    <div class="text-muted fs-7">A product name is required and recommended to be unique.</div>
                                    <!--end::Description-->
                                </div>
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required form-label">Mã khuyến mãi</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <InputText @bind-Value="editPromotion.Code" class="form-control form-control-solid col-sm-6" />
                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <ValidationMessage For="@(() => editPromotion.Code)" />
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required form-label">Mô tả</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <InputText @bind-Value="editPromotion.Description" class="form-control form-control-solid col-sm-6" />
                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <ValidationMessage For="@(() => editPromotion.Description)" />
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required form-label">Loại hình khuyến mại</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <InputSelect @bind-Value="editPromotion.PromotionType" class="form-control">
                                        @foreach (var country in Enum.GetValues(typeof(PromotionType)))
                                        {
                                            <option value="@country">@country</option>
                                        }

                                    </InputSelect>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required form-label">Ngày bắt đầu</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <InputDate @bind-Value="editPromotion.StartDate" class="form-control form-control-solid col-sm-6" />
                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <ValidationMessage For="@(() => editPromotion.StartDate)" />
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required form-label">Ngày kết thúc</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <InputDate @bind-Value="editPromotion.EndDate" class="form-control form-control-solid col-sm-6" />
                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <ValidationMessage For="@(() => editPromotion.EndDate)" />
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required form-label">Số lượng</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <InputNumber @bind-Value="editPromotion.Quantity" class="form-control form-control-solid col-sm-6" />
                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <ValidationMessage For="@(() => editPromotion.Quantity)" />
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required form-label">Tiền giảm giá</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <InputNumber @bind-Value="editPromotion.ReduceAmount" class="form-control form-control-solid col-sm-6" />
                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <ValidationMessage For="@(() => editPromotion.ReduceAmount)" />
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <div class="mb-10 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required form-label">% giảm giá</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <InputNumber @bind-Value="editPromotion.ReducePercent" class="form-control form-control-solid col-sm-6" />
                                    <div class="fv-plugins-message-container invalid-feedback">
                                        <ValidationMessage For="@(() => editPromotion.ReducePercent)" />
                                    </div>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                            </EditForm>
                        </div>
                        <!--end::Card header-->
                    </div>
                    <!--end::General options-->
                    <!--begin::Meta options-->

                    <div class="d-flex justify-content-end">
                        <!--begin::Button-->
                        <a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
                        <!--end::Button-->
                        <!--begin::Button-->
                        <button type="submit" id="kt_ecommerce_add_category_submit" class="btn btn-primary" onclick="@(() => OnSubmit())">
                            <span class="indicator-label">Hoàn thành</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                        <!--end::Button-->
                    </div>
                </div>
                <!--end::Main column-->
                <div></div>
            </form>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string? PromotionId { get; set; }

    private List<PromotionType> types = new List<PromotionType>();
    private PromotionRequest editPromotion = null;

    protected async override Task OnInitializedAsync()
    {
        editPromotion = new PromotionRequest();
    }

    protected override async Task OnParametersSetAsync()
    {
        try{
            if (string.IsNullOrEmpty(PromotionId))
            {
                editPromotion = new PromotionRequest();
            }
            else
            {
                var responseP = await _promotionService.GetPromotionById(PromotionId);
                var vesselDB = responseP.Data;
                editPromotion.Name = vesselDB.Name;
                editPromotion.Description = vesselDB.Description;
                editPromotion.Code = vesselDB.Code;
                editPromotion.StartDate = vesselDB.StartDate;
                editPromotion.EndDate = vesselDB.EndDate;
                editPromotion.Status = vesselDB.Status;
                editPromotion.PromotionType = vesselDB.PromotionType;
                editPromotion.Quantity = vesselDB.Quantity;
                editPromotion.ReduceAmount = vesselDB.ReduceAmount;
                editPromotion.ReducePercent = vesselDB.ReducePercent;
                editPromotion.PromotionObject = vesselDB.PromotionObject;
            }
        }
        catch(Exception ex){
            _toastService.ShowError("có lỗi");
        }
    }
}


@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    private async Task OnCancel() => await BlazoredModal.CancelAsync();

    private MultipartFormDataContent content = new MultipartFormDataContent();
    private async Task OnSubmit()
    {
        try{
            ResponseLogin<Promotion> response = new ResponseLogin<Promotion>();
            
            if (string.IsNullOrEmpty(PromotionId))
            {
                response = await _promotionService.AddPromotion(editPromotion);
            }
            else
            {
                response = await _promotionService.Update(editPromotion);
            }
            if(response != null)
            {
                if(response.Result == 1)
                {
                    _toastService.ShowSuccess("Thêm thành công");
                    await BlazoredModal.CloseAsync(ModalResult.Ok(true));
                }
            }
        }
        catch(Exception ex)
        {
            _toastService.ShowError(ex.ToString());
        }
    }
}