@page "/dashboard"
@using TCH.Data.Entities
@using TCH.WebServer.Models
@using TCH.WebServer.Models.Pagination
@using TCH.WebServer.Services.Categories
@using TCH.WebServer.Services.Orders
@using TCH.WebServer.Services.Products
@using TCH.WebServer.Services.Users
@inject NavigationManager navigationManager
@inject IProductService productServices
@inject IUserService userServices
@inject ICategoryService categoryServices
@inject NavigationManager NavManager
@inject IToastService toastService
@inject IOrderService orderService
@attribute [Authorize]

<div class="page d-flex flex-row flex-column-fluid">
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
        <TCH.WebServer.Shared.Header.Header></TCH.WebServer.Shared.Header.Header>
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <div class="row g-5 g-xl-8">
                <div class="col-md-8 col-12">
                    <div class="row">
                        @if (categories != null)
                        {
                            foreach (var product in ProductsList)
                            {
                                <div class="col-md-4 p-5">
                                    <!--begin::Hot sales post-->
                            <div class="card-xl-stretch me-md-6">
                                        <!--begin::Overlay-->
                                <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="@("http://localhost:82/uploads" + product.LinkImage)">
                                            <!--begin::Image-->
                                    <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url(@("http://localhost:82/uploads" + product.LinkImage))"></div>
                                            <!--end::Image-->
                                            <!--begin::Action-->
                                    <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                                            </div>
                                            <!--end::Action-->
                                </a>
                                        <!--end::Overlay-->
                                        <!--begin::Body-->
                                <div class="mt-5">
                                            <!--begin::Title-->
                                    <a href="/product-detail/@product.ID" class="text-primary fw-bolder text-hover-primary text-dark lh-base">@product.Name</a>
                                            <!--end::Title-->
                                            <!--begin::Text-->
                                            @*<div class="fw-bold text-gray-600 text-dark mt-3">@product.Description</div>*@
                                            <!--end::Text-->
                                            <!--begin::Text-->
                                    <div class="fs-6 fw-bolder mt-5 d-flex flex-stack">
                                                <!--begin::Label-->
                                        <span class="badge border border-dashed text-primary p-2">
                                                    <span class="text-primary text-gray-400">đ</span>@((product.IsSale) ? product.Price - product.PriceSale : product.Price)
                                                </span>
                                                <!--end::Label-->
                                                <!--begin::Action-->
                                        <button onclick="@(() => NavManager.NavigateTo($"/product-detail/{@product.ID}"))" class="btn btn-sm btn-primary">Purchase</button>
                                                <!--end::Action-->
                                    </div>
                                            <!--end::Text-->
                                </div>
                                        <!--end::Body-->
                            </div>
                                    <!--end::Hot sales post-->
                        </div>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div div class="card card-xl-stretch mb-xl-8">
                        <div class="card-header align-items-center border-0 mt-4">
                            <EditForm Model="searchText" OnValidSubmit="SearchByText">
                                <InputText @bind-Value="searchText" type="text" data-kt-ecommerce-category-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Tìm kiếm loại sản phẩm"/>
                            </EditForm>
                            <button onclick="" class="btn btn-primary right mt-3">
                                Tạo mới
                            </button>
                        </div>
                        <div class="card-body pt-5">
                            <div class="tab-content">
                                <!--begin::Tap pane-->
                                <div class="tab-pane fade show active" id="kt_stats_widget_2_tab_4">
                                    <!--begin::Table container-->
                                    <div class="table">
                                        <!--begin::Table-->
                                        @if (order != null && order.OrderItems != null)
                                        {
                                            foreach (var orderDetail in order.OrderItems)
                                            {
                                                
                                                <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                                                    <!--begin::Table head-->
                                            <thead>
                                                        <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                                            <th class="ps-0 w-50px">ITEM</th>
                                                            <th class="text-end min-w-140px">QTY</th>
                                                            <th class="pe-0 text-end min-w-120px">PRICE</th>
                                                        </tr>
                                                    </thead>
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                            <tbody>
                                                        <tr>
                                                            @*<td>
                                                                <img src="@("http://localhost:82/uploads" + orderDetail..LinkImage)" class="w-50px ms-n1" alt="">
                                                                </td>*@
                                                            <td class="ps-0">
                                                                <a href="/product-detail/@@orderDetail.ProductID" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start pe-0">@orderDetail.NameProduct</a>
                                                            </td>
                                                            <td>
                                                                <span class="text-gray-800 fw-bolder d-block fs-6 ps-0 text-end">x@(orderDetail.Quantity)</span>
                                                            </td>
                                                            <td class="text-end pe-0">
                                                                <span class="text-gray-800 fw-bolder d-block fs-6">@orderDetail.SubAmount</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <!--end::Table body-->
                                        </table>
                                            }
                                        }
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <!--begin::Button-->
                                        <a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
                                        <!--end::Button-->
                                        <!--begin::Button-->
                                        <button type="submit" id="kt_ecommerce_add_category_submit" class="btn btn-primary" onclick="@(() => OnSubmit())">
                                            <span class="indicator-label">Save Changes</span>
                                            <span class="indicator-progress">
                                                Please wait...
                                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                        <!--end::Button-->
                                    </div>
                                    <!--end::Table-->
                                </div>
                                <!--end::Tap pane-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 col-md-12 d-flex">
    <div class="row">
        <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-start justify-content-md-start">
            <div class="dataTables_length" id="kt_ecommerce_category_table_length">
                <label>
                    <EditForm Model="pagination">
                        <InputSelect @bind-Value="pagination.pageSize" name="kt_ecommerce_category_table_length" aria-controls="kt_ecommerce_category_table" class="form-select form-select-sm form-select-solid">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </InputSelect>
                    </EditForm>
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-end justify-content-md-end">
            <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_category_table_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="kt_ecommerce_category_table_previous">
                        <a href="#" aria-controls="kt_ecommerce_category_table" data-dt-idx="0" tabindex="0" class="page-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox='0 0 8 9' fill='#23B5B5C3' fill-rule='evenodd' clip-rule='evenodd'>
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
                                <path d="M2.06463 4.42111C1.96161 4.22088 1.9809 3.9637 2.12863 3.78597L5.12847 0.177181C5.31402 -0.046034 5.63049 -0.060261 5.83532 0.145404C6.04015 0.351069 6.05578 0.698744 5.87023 0.921959L3.19406 4.14137L5.84414 7.06417C6.03896 7.27904 6.03835 7.62686 5.84278 7.84105C5.64721 8.05524 5.33073 8.05469 5.13591 7.83982L2.14806 4.54449C2.1141 4.50704 2.08629 4.46541 2.06463 4.42111Z"></path>
                            </svg>
                        </a>
                    </li>
                    @*<li class="paginate_button page-item active">
                        <a href="#" aria-controls="kt_ecommerce_category_table" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                        </li>
                        <li class="paginate_button page-item "><a href="#" aria-controls="kt_ecommerce_category_table" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>*@
                    @for (int link = 1; link <= pagination.totalPage; link++)
                    {
                        var btnNumber = link;
                        <li class="@((pagination.PageNumber == link) ? "paginate_button page-item active" : "paginate_button page-item")">
                            <a aria-controls="kt_ecommerce_category_table" data-dt-idx="1" tabindex="0" class="page-link" onclick="@(() => Change(btnNumber))">@btnNumber</a>
                        </li>
                    }
                    <li class="paginate_button page-item next" id="kt_ecommerce_category_table_next">
                        <a href="#" aria-controls="kt_ecommerce_category_table" data-dt-idx="3" tabindex="0" class="page-link">
                            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9' fill='%235E6278'><path fill-rule='evenodd' clip-rule='evenodd' d='M5.93537 4.57889C6.03839 4.77912 6.0191 5.0363 5.87137 5.21403L2.87153 8.82282C2.68598 9.04603 2.36951 9.06026 2.16468 8.8546C1.95985 8.64893 1.94422 8.30126 2.12977 8.07804L4.80594 4.85863L2.15586 1.93583C1.96104 1.72096 1.96165 1.37314 2.15722 1.15895C2.35279 0.944757 2.66927 0.945311 2.86409 1.16018L5.85194 4.45551C5.8859 4.49296 5.91371 4.53459 5.93537 4.57889Z' /></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



@code {
    public List<ProductVm>? ProductsList = new List<ProductVm>();
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public string BranchId { get; set; }
    private TCH.WebServer.Models.Pagination.Pagination pagination = new TCH.WebServer.Models.Pagination.Pagination();
    private List<Category> categories = new List<Category>();
    private ApplicationUser User;
    private OrderRequest order;
    private string searchText = "";
    protected override async Task OnParametersSetAsync()
    {
        order = GbParameter.GbParameter.Order;
        if (order == null)
        {
            order = new OrderRequest();
            order.OrderItems = new List<OrderItem>();
            GbParameter.GbParameter.Order = order;
        }

        var response = await userServices.GetUserInfo();
        User = response.Data;

        foreach(var or in order.OrderItems){
            var res = await productServices.GetProductById(or.ProductID);
            or.NameProduct = res.Data.Name;
        }
        await Get(1);

        base.OnParametersSet();
    }
    public async Task Get(int pageNumber)
    {
        var response = await productServices.GetProductsByBranch(true, pagination.pageSize, pageNumber, User.BranchId, searchText);
        //var response = await productServices.GetProducts(true, pagination.pageSize, pageNumber);
        pagination.PageNumber = response.Data.CurrentPage;
        ProductsList = response.Data.Items.ToList();
        pagination.totalPage = response.Data.TotalPages;
        StateHasChanged();
    }

    public async void Change(int link)
    {
        pagination.PageNumber = link;
        await Get(link);
        StateHasChanged();
    }
    public async void CreateOrder()
    {
        order = new OrderRequest();
        order.OrderItems = new List<OrderItem>();
        GbParameter.GbParameter.Order = order;
    }
    public async void OnSubmit()
    {

        navigationManager.NavigateTo($"/invoice");

    }
    public async Task SearchByText()
    {
        await Get(pagination.PageNumber);
    }
}
