@page "/product-detail/{ProductId}"
@using TCH.Data.Entities
@using TCH.WebServer.Services.Orders
@using TCH.WebServer.Services.Products

@inject IOrderService orderService
@inject IProductService productService

<div class="page d-flex flex-row flex-column-fluid">
    <TCH.WebServer.Pages.SideBar.SidebarUser></TCH.WebServer.Pages.SideBar.SidebarUser>
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
        <TCH.WebServer.Shared.Header.Header></TCH.WebServer.Shared.Header.Header>
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            @if (order != null && product != null && orderDetail != null)
            {
                <div class="d-flex flex-column flex-column-fluid container-fluid" style="">
                    <!--begin::Post-->
                <div class="content flex-column-fluid" id="kt_content">
                        <!--begin::Stats-->
                    <div class="row g-6 g-xl-9">
                            <div class="col-lg-6 col-xxl-4">
                                <!--begin::Card-->
                            <div class="card h-100">
                                    <!--begin::Card body-->
                                <div class="card-body p-9">
                                        <a class="d-block overlay" data-fslightbox="lightbox-hot-sales" href="@("https://localhost:8001/uploads" + product.LinkImage)">
                                            <!--begin::Image-->
                                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url(@("https://localhost:8001/uploads" + product.LinkImage))"></div>
                                            <!--end::Image-->
                                            <!--begin::Action-->
                                        <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                                <i class="bi bi-eye-fill fs-2x text-white"></i>
                                            </div>
                                            <!--end::Action-->
                                    </a>
                                    </div>
                                    <!--end::Card body-->
                            </div>
                                <!--end::Card-->
                        </div>
                            <div class="col-lg-6 col-xxl-4">
                                <!--begin::Budget-->
                            <div class="card h-100">
                                    <div class="card-body p-9">
                                        <div class="fs-2hx fw-bolder">@product.Price</div>
                                        <div class="fs-4 fw-bold text-gray-400 mb-7">@product.Name</div>
                                        <div class="fs-6 d-flex justify-content-between mb-4">
                                            <div class="fw-bold">Size S</div>
                                            <div class="d-flex fw-bolder">
                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr007.svg-->
                                            <span class="svg-icon svg-icon-3 me-1 svg-icon-success">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M13.4 10L5.3 18.1C4.9 18.5 4.9 19.1 5.3 19.5C5.7 19.9 6.29999 19.9 6.69999 19.5L14.8 11.4L13.4 10Z" fill="currentColor"></path>
                                                        <path opacity="0.3" d="M19.8 16.3L8.5 5H18.8C19.4 5 19.8 5.4 19.8 6V16.3Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->@product.Price
                                            </div>
                                        </div>
                                        <div class="separator separator-dashed"></div>
                                        <div class="fs-6 d-flex justify-content-between my-4">
                                            <div class="fw-bold">Size M</div>
                                            <div class="d-flex fw-bolder">
                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr006.svg-->
                                            <span class="svg-icon svg-icon-3 me-1 svg-icon-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M13.4 14.8L5.3 6.69999C4.9 6.29999 4.9 5.7 5.3 5.3C5.7 4.9 6.29999 4.9 6.69999 5.3L14.8 13.4L13.4 14.8Z" fill="currentColor"></path>
                                                        <path opacity="0.3" d="M19.8 8.5L8.5 19.8H18.8C19.4 19.8 19.8 19.4 19.8 18.8V8.5Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->@product.Price + 5000đ
                                            </div>
                                        </div>
                                        <div class="separator separator-dashed"></div>
                                        <div class="fs-6 d-flex justify-content-between mt-4">
                                            <div class="fw-bold">Size </div>
                                            <div class="d-flex fw-bolder">
                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr007.svg-->
                                            <span class="svg-icon svg-icon-3 me-1 svg-icon-success">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M13.4 10L5.3 18.1C4.9 18.5 4.9 19.1 5.3 19.5C5.7 19.9 6.29999 19.9 6.69999 19.5L14.8 11.4L13.4 10Z" fill="currentColor"></path>
                                                        <path opacity="0.3" d="M19.8 16.3L8.5 5H18.8C19.4 5 19.8 5.4 19.8 6V16.3Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->@product.Price + 7000đ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Budget-->
                        </div>
                            <div class="col-lg-6 col-xxl-4">
                                @if (product.Toppings != null)
                                {
                                    foreach (var topping in product.Toppings)
                                    {
                                        <div class="separator separator-dashed"></div>
                                        <div class="fs-6 d-flex justify-content-between my-4">
                                            <div class="fw-bold">@topping.Name</div>
                                            <div class="d-flex fw-bolder">
                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr006.svg-->
                                    <span class="svg-icon svg-icon-3 me-1 svg-icon-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M13.4 14.8L5.3 6.69999C4.9 6.29999 4.9 5.7 5.3 5.3C5.7 4.9 6.29999 4.9 6.69999 5.3L14.8 13.4L13.4 14.8Z" fill="currentColor"></path>
                                                        <path opacity="0.3" d="M19.8 8.5L8.5 19.8H18.8C19.4 19.8 19.8 19.4 19.8 18.8V8.5Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                                @topping.SubPrice
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                    <!--end::Post-->
                    <!--begin::Footer-->
                <div class="footer py-4 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
                        <!--begin::Copyright-->
                    <div class="text-dark order-2 order-md-1">
                            <span class="text-muted fw-bold me-1">2022©</span>
                            <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">Keenthemes</a>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Menu-->
                    <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                            <li class="menu-item">
                                <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
                            </li>
                        </ul>
                        <!--end::Menu-->
                </div>
                    <!--end::Footer-->
            </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public string ProductId { get; set; }
    private Order order;
    private ProductVm product;
    private OrderDetail orderDetail;
    protected override async Task OnParametersSetAsync()
    {
        var responseProduct = await productService.GetProductById(ProductId);
        product = responseProduct.Data;
        order = GbParameter.GbParameter.Order;
        orderDetail = new OrderDetail();
        base.OnParametersSet();
    }
}
