@page "/add-user"
@inject IToastService ToastService
@inject IUserApiClient UserApiClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@attribute [Authorize]
<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/user">User</a>
        </li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Tạo tài khoản mới</h4>
            </div>
            <div class="card-body">
                <div class="form-validation">
                    <EditForm class="needs-validation" Model="register" OnValidSubmit="Create">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <ValidationSummary></ValidationSummary>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="validationCustom01">
                                        Tên tài khoản
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <InputText type="text" class="form-control"
                                                   id="validationCustom01" placeholder="Enter a username.."
                                                   @bind-Value="register.UserName"></InputText>
                                        <ValidationMessage For="()=> register.UserName"></ValidationMessage>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Email">
                                        Email <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <InputText type="email" placeholder="Email"
                                                   class="form-control"
                                                   id="Email" @bind-Value="@register.Email"></InputText>
                                        <ValidationMessage For="()=> register.Email"></ValidationMessage>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Password">
                                        Mật khẩu
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <InputText class="form-control" type="password" placeholder="Password"
                                                   id="Password" @bind-Value="@register.Password"></InputText>
                                        <ValidationMessage For="()=> register.Password"></ValidationMessage>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Password2">
                                        Nhập lại mật khẩu
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <InputText class="form-control" type="password" placeholder="Password"
                                                   id="Password2" @bind-Value="@register.ConfirmPassword"></InputText>
                                        <ValidationMessage For="()=> register.ConfirmPassword"></ValidationMessage>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Avatar">
                                        Avatar
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <InputFile OnChange="SaveFile" class="form-file"></InputFile>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="FirstName">
                                        Họ
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <InputText class="form-control" id="FirstName" placeholder="FirstName"
                                                   @bind-Value="@register.FirstName"></InputText>
                                        <ValidationMessage For="()=> register.FirstName"></ValidationMessage>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="LastName">
                                        Tên
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <InputText class="form-control" id="LastName" placeholder="LastName"
                                                   @bind-Value="@register.LastName"></InputText>
                                        <ValidationMessage For="()=> register.LastName"></ValidationMessage>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="PhoneNumber">
                                        Phone (VN)
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <div class="input-group input-success-o">
                                            <span class="input-group-text"><i class="la la-phone"></i></span>
                                            <InputText placeholder="Phone"
                                                       class="form-control"
                                                       id="PhoneNumber" @bind-Value="@register.PhoneNumber"></InputText>
                                            <ValidationMessage For="()=> register.PhoneNumber"></ValidationMessage>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Dob">
                                        Date of Birth <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <InputDate class="form-control"
                                                   id="Dob" @bind-Value="@register.DateOfBirth"></InputDate>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Gender">
                                        Giới tính <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <div class="radio-inline">
                                            <InputRadioGroup @bind-Value="register.Gender">
                                                @foreach (var item in (Gender[])Enum.GetValues(typeof(Gender)))
                                                {
                                                    <InputRadio Value="item" class="form-check-input" />
                                                    <label class="form-check-label me-3">
                                                        @item
                                                    </label>
                                                }
                                            </InputRadioGroup>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label" for="Address">
                                        Địa chỉ
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <InputTextArea class="form-control" id="Address" placeholder="Address" style="height: 100px"
                                                       @bind-Value="@register.Address"></InputTextArea>
                                        <ValidationMessage For="()=> register.Address"></ValidationMessage>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-lg-4 col-form-label">
                                        <a href="javascript:void()">Terms &amp; Conditions</a> <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-8">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="validationCustom12" required>
                                            <label class="form-check-label" for="validationCustom12">
                                                Agree to terms and conditions
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-lg-8 ms-auto">
                                        <button type="submit" class="btn btn-primary">Tạo tài khoản</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    private RegisterRequest register;


    protected override void OnInitialized()
    {
        register = new RegisterRequest();
        base.OnInitialized();
    }

    private async void Create(EditContext context)
    {
        try
        {
            var result = await UserApiClient.Register(register);
            if (result.Result == 1)
            {
                ToastService.ShowSuccess(result.Message, $"Thành công");
                NavigationManager.NavigateTo("/user");
            }
            else
            {
                ToastService.ShowError("error!!", "Thất bại");
            }
        }
        catch (Exception e) { }

    }

    private void SaveFile()
    {

    }
}

