@using Microsoft.AspNetCore.Components.Authorization
<Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
    <CascadingBlazoredModal>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
        <AuthorizeView>
            <NotAuthorized>
                <TCH.Web.Pages.Authentication.Login></TCH.Web.Pages.Authentication.Login>
            </NotAuthorized>
            <Authorized>
                <TCH.Web.Pages.Index></TCH.Web.Pages.Index>
            </Authorized>
        </AuthorizeView>
    </CascadingBlazoredModal>
</Microsoft.AspNetCore.Components.Authorization.CascadingAuthenticationState>
