@page "/stock-in-branch"
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json
@using System.Net.Http.Headers

@using System.Security.Claims
@using TCH.Data.Entities
@using TCH.WebServer.Models
@using TCH.WebServer.Models.Pagination
@using TCH.WebServer.Services
@using TCH.WebServer.Services.Products
@using TCH.WebServer.Services.StockMaterials
@using TCH.WebServer.Services.Users

@inject HttpClient httpClient
@inject ILocalStorageService localStorage;
@inject IStockService stockService;
@inject IUserService userServices;
@inject IUserApiClient userApiClient;
@inject NavigationManager navigationManager;
@inject IJSRuntime jsRuntime;
@inject IToastService toastService;
@inject IConfiguration Configuration
@attribute [Authorize]
<div class="page d-flex flex-row flex-column-fluid">
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
        
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
             <div class="card card-flush " style="">
            <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                        <span class="svg-icon svg-icon-1 position-absolute ms-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black"></path>
                            </svg>
                        </span>
                        <EditForm Model="searchText" OnValidSubmit="SearchByText">
                            <InputText @bind-Value="searchText" type="text" data-kt-ecommerce-category-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Tìm kiếm loại sản phẩm"/>
                        </EditForm>
                    </div>
                </div>

                </div>
                <div class="card-body pt-0">

                    <div id="kt_ecommerce_category_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="table-responsive">
                            <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_ecommerce_category_table">
                                <thead>
                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                        <th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 29.25px;">
                                            <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                                <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_ecommerce_category_table .form-check-input" value="1">
                                            </div>
                                        </th>
                                        <th class="min-w-250px sorting" tabindex="0" aria-controls="kt_ecommerce_category_table" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 637.234px;">
                                            Sản phẩm
                                        </th>
                                        <th class="min-w-150px sorting" tabindex="0" aria-controls="kt_ecommerce_category_table" rowspan="1" colspan="1" aria-label="Category Type: activate to sort column ascending" style="width: 159.297px;">
                                            Số lượng
                                        </th>
                                        <th class="text-end min-w-70px sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 103.969px;">
                                            đơn vị
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="fw-bold text-gray-600">
                                    @if (ProductsList.Count != 0)
                                    {
                                        foreach (var product in ProductsList)
                                        {
                                            string href = "/stock-material/" + product.MaterialID.ToString();
                                            <tr class="odd">
                                                <td>
                                                    <div class="d-flex align-items-center">  
                                                        <div class="ms-5">
                                                            <a href="@href" class="text-gray-800 text-hover-primary fs-5 fw-bolder mb-1" data-kt-ecommerce-category-filter="category_name">
                                                                @product.Material.Name
                                                            </a>
                                                            <div class="text-muted fs-7 fw-bolder">@product.Description</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">  
                                                        <div class="ms-5">
                                                            <div href="" class="text-gray-800 text-hover-primary fs-5 fw-bolder mb-1" data-kt-ecommerce-category-filter="category_name">
                                                                @product.Measure.Name
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="badge badge-success">  
                                                        Còn hàng
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    @*else
                                        {
                                        <div class="spinner" ></div>
                                        }*@

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                                <div class="dataTables_length" id="kt_ecommerce_category_table_length">
                                    <label>
                                        <EditForm Model="pagination">
                                            <InputSelect @bind-Value="pagination.pageSize" name="kt_ecommerce_category_table_length" aria-controls="kt_ecommerce_category_table" class="form-select form-select-sm form-select-solid">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </InputSelect>
                                        </EditForm>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_category_table_paginate">
                                    <Pagination Count="@(pagination.totalPage)" SelectedChanged="Change" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter] public string BranchId{ get; set; }
    public List<StockMaterial>? ProductsList = new List<StockMaterial>();
    private string? token;
    public string Name;
    private string searchText = "";
    private TCH.WebServer.Models.Pagination.Pagination pagination = new TCH.WebServer.Models.Pagination.Pagination();
    private ApplicationUser User;


    protected override async Task OnParametersSetAsync()
    {
        //navigationManager.NavigateTo("admin-dashboard");
        var response = await userServices.GetUserInfo();
        User = response.Data;
        await Get(1);
        base.OnParametersSet();
    }
    public async Task Get(int pageNumber)
    {
        var response = await stockService.GetStockMaterials(true, pagination.pageSize, pageNumber, searchText, BranchId);
        pagination.PageNumber = response.Data.CurrentPage;
        ProductsList = response.Data.Items.ToList();
        pagination.totalPage = response.Data.TotalPages;
        StateHasChanged();
    }
    public async Task Change(int link)
    {
        pagination.PageNumber = link;
        await Get(link);
        StateHasChanged();
    }
    public async Task SearchByText()
    {
        await Get(pagination.PageNumber);
    }
}
